* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.header {
    height: 70px;
    display: flex;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    width: 70%;
    background-color: yellow;
    height: 40px;
    border: 4px dotted black;
    align-items: center;

}

/* i tre blocchi riempiono tutta l’altezza e gestiscono l’allineamento interno */
.left-header,
.center-header,
.right-header {
    display: flex;
    align-items: center;
    height: 100%;
}

.left-header {
    flex-basis: 150px;
    border-right: 4px dotted black;
    justify-content: flex-start;
    padding: 5px;
}

.center-header {
    flex-grow: 1;
    /* prende tutto lo spazio rimanente */
    justify-content: center;
    gap: 10px;


}

.right-header {
    flex-basis: 150px;
    border-left: 4px dotted black;
    justify-content: flex-end;
    padding: 5px;
}

.hero-section {
    width: 100%;
    height: 500px;
    background-color: blue;
    display:flex ; 
    align-items: center;
   
}

.hero-content {
    margin: 0 auto ; 
    height: 70%;
    width: 50%;
    background-color: #ee82ee;
    border: 4px dotted black;
    
}

.section-background-white {
    display:flex; 
    align-items: center;
    width: 100%; 
    height: 500px ; 
    background-color: white;
}

.container-second-section {
  display: flex; 
    margin: 0 auto ; 
    height: 70%; 
    width : 60% ; 
    
}

.right-sidebar-second {
flex-basis: 60%;
background-color:aquamarine;
border: 4px dotted black;
}

.left-sidebar-second {
    flex-basis : 40% ;
    background-color: pink;
    border: 4px dotted black;
}

.third-section {
    display: flex ; 
    align-items: center;
    width: 100%; 
    height: 500px;
    background-color: grey;
}

.container-third-section {
    display: flex ; 
    margin: 0 auto ;
    height: 70% ; 
    width : 60%; 
}

.right-sidebar-third {
    flex-basis: 40%;
    background-color: pink;
    border: 4px dotted black;
}

.left-sidebar-third {
    flex-basis : 60% ; 
    background-color: aquamarine;
     border: 4px dotted black;
}

.container-fourth-section {
    display: flex ; 
    margin: 0 auto ;
    height: 70% ; 
    width : 60%; 
}

.right-sidebar-fourth {
    flex-basis: 60%;
    background-color: aquamarine;
    border: 4px dotted black;
}

.left-sidebar-fourth {
    flex-basis : 40% ; 
    background-color: pink;
     border: 4px dotted black;
}

.section-five {
     width: 100%;
    height: 700px;
    background-color: grey;
    display:flex ; 
    align-items: center;
}

.section-five-content {
    margin: 0 auto ; 
    width : 60% ; 
    height: 90%;
    background-color: green;
}